.row
	.col-md-12
		%h1
			.text-center Editing <%= singular_table_name %>

		= render 'form'
		.btn-group
			= link_to 'Show', @<%= singular_table_name %>, class: 'btn btn-default'
			= link_to 'Back', <%= index_helper %>_path, class: 'btn btn-default'
